/* price-range */
/* km-range */
/* year-range */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.noUi-horizontal {
  height: 3px;
}

.noUi-horizontal .noUi-handle {
  position: relative;
  width: 15px;
  height: 15px;
  left: -7.5px !important;
  right: 0px !important;
  top: -5.5px;
  background-color: #ffffff;
  border: 1.5px solid #D01818;
  border-radius: 100px;
  cursor: pointer;
}

/* Styling; */
.noUi-background {
  background: #EBEBEB;
}

.noUi-connect {
  background: #D01818;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  width: 100%;
  height: 7px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.noUi-horizontal .noUi-handle.noUi-handle-upper {
  left: -7px;
}

/* Handles and cursors;*/
.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.noUi-handle::before {
  content: none;
}
.noUi-handle::after {
  content: none;
}

.noUi-handle:active {
  border: 1px solid #D01818;
}

/* Disabled state; */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #D01818;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

.slider-labels .caption {
  font-weight: 500;
  font-size: 16px;
}

.slider-labels .number-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.slider-labels .number-range span {
  padding: 5px 10px;
  background-color: #F5F5F5;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16.38px;
  color: #888B95;
  border: unset;
  width: auto;
  text-align: center;
}